name: Deploy

on:
  push:
    branches:
      - main
jobs:
  Build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      # TODO docker build

      # TODO docker login

      # TODO docker image push

  Deploy:
    runs-on: ubuntu-latest
    needs: Build

    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
